body{
    background: black;
}
.header{
    display: flex;
}

.logo{
    margin-left: 100px;
    margin-right: 300px;
    padding: 10px;
    text-align: center;
    background: black;
    color: white;
    font-weight: 900;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(125, 125, 125, 0.4),
    -2px -5px 15px rgba(125, 125, 125, 0.8),
    2px 5px 5px rgba(125, 125, 125, 0.2),
    -6px -2px 5px rgba(125, 125, 125, 0.6);
}
.logo >a {
    color: white;
    text-decoration: none;
}
.logo1{
    margin-top: 70px;
    margin-left: 500px;
}
.headerItems{
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerItems>div{
    margin-right: 50px;
}
.navItems a{
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-size: 16px;
    font-weight: 900;
}
.log{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.signup{
    margin-left: 20px;
    text-align: center;
    padding: 10px;
    background: green;
    width: 150px;
    height: 20px;
    border-radius: 10px;
}
.search{
    margin-left: 500px;
    margin-right: 20px;
}
.play{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.imgt{
    position: absolute;
    margin-top: 15px;
    width: 292px;
    height: 300px;
}
.a{
    margin-top: 24%;
}
.currentPlay{
    display: flex;
    align-items: center;
    height: 90px;
}

.imgt1{
    width: 60px;
    height: 60px;
}
.songName{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-right: 25%;
}
.songName >p{
    margin-right: 20px;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 60px;
    width: 45px;
    height: 45px;
    border:3px solid white;
    border-radius: 50%;
}
.move{
    margin-left: 385px;
}
.rectangle, .rectangle1{
    width: 5px;
    height: 30px;
    background: white;
}
.pause{
    background: white;
    width: 20px;
    height: 20px;
    border-top-left-radius: 100%;
    transform: rotate(-39deg);
}
.dot1, .dot2, .dot3{
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    margin-bottom: 5px;
}
.volume{
    display: flex;
}
.square{
    background: rgb(170, 21, 21);
    width: 20px;
}
.one{
    background: white;
    width: 20px;
    height: 20px;
    margin-top: 40px;
}
.two{
    background: rgb(14, 23, 153);
    height: 30px;
    margin-top: 30px;
}
.three{
    background: rgb(37, 155, 43);
    height: 40px;
    margin-top: 20px;
}
.four{
    background: rgb(173, 44, 115);
    height: 50px;
    margin-top: 10px;
}
.five{
    height: 60px;
}